<!DOCTYPE html>
<html>
<head>
  <title>CommitFilter</title>
  <%= stylesheet_link_tag    "commit_filter/application", media: "all" %>
  <%= javascript_include_tag "commit_filter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
